[submodule "antigen"]
	path = antigen
	url = git://github.com/zsh-users/antigen.git
    branch = master
[submodule "vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
    branch = master
[submodule "bin"]
	path = bin
	url = https://github.com/feltnerm/bin.git
[submodule "prezto"]
	path = prezto
	url = https://github.com/sorin-ionescu/prezto.git
