*~

cmus/
config/chromium-backup
config/gedit
config/google-chrome*
config/chromium*
config/gtk*
config/kupfer*
config/pavucontrol.ini
config/viewnior
config/xfce4/terminal

config/anjuta
config/dconf
config/chromium
config/gmlive
config/graveman
config/gtk-2.0/gtkfilechooser.ini
config/gtk-3.0/bookmarks
config/ipython/profile_default/
config/libreoffice
config/menus
config/pulse
config/ranger/history
config/ranger/bookmarks
config/transmission
config/Trolltech.conf
config/yarpen.cz
config/vlc

ncmpcpp/error.log

cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlist.pl
cmus/search-history

vim/tmp/*
vim/backup/*
vim/bundle/*
!vim/bundle/vundle

