cabal/*
!cabal/config                                                                     

config/*
!config/Terminal
!config/archey3.cfg
!config/nitrogen
!config/systemd
!config/user-dirs.dirs

lein
!lein/profiles.clj

ncmpcpp
!ncmpcpp/config

vim/backup/*                                                                      
vim/bundle/*                                                                      
vim/tmp/*                                                                         

#cmus/cache                                                                       
#cmus/command-history                                                             
#cmus/lib.pl                                                                      
#cmus/playlist.pl                                                                 
#cmus/search-history                                                              
#                                                                                 
#config/.ACEStream/                                                               
#config/Skype/                                                                    
#config/Thunar/                                                                   
#config/Trolltech.conf                                                            
#config/anjuta                                                                    
#config/chromium                                                                  
#config/chromium*                                                                 
#config/chromium-backup                                                           
#config/dconf                                                                     
#config/gedit                                                                     
#config/gmlive                                                                    
#config/google-chrome*                                                            
#config/graveman                                                                  
#config/gtk*                                                                      
#config/gtk-2.0/gtkfilechooser.ini                                                
#config/gtk-3.0/bookmarks                                                         
#config/ipython/profile_default/                                                  
#config/kupfer*                                                                   
#config/leafpad                                                                   
#config/libreoffice                                                               
#config/menus                                                                     
#config/pavucontrol.ini                                                           
#config/pulse                                                                     
#config/ranger/bookmarks                                                          
#config/ranger/history                                                            
#config/systemd/user/anamnesis.service                                            
#config/systemd/user/default.target.wants/anamnesis.service                       
#config/transmission                                                              
#config/viewnior                                                                  
#config/vlc                                                                       
#config/vlc                                                                       
#config/xfce4/desktop/                                                            
#config/xfce4/help.rc                                                             
#config/xfce4/panel/                                                              
#config/xfce4/terminal                                                            
#config/xfce4/xfconf/                                                             
#config/yarpen.cz                                                                 
#                                                                                 
#ncmpcpp/error.log 
