.vagrant/

*.swp

cabal/*
!cabal/config

lein
!lein/profiles.clj

ncmpcpp
!ncmpcpp/config

dotfiles/tmux/plugins/*
dotfiles/tmux/sidebar

dotfiles/vim/autoload/*
dotfiles/vim/backup/*
dotfiles/vim/bundle/*
dotfiles/vim/bundle/vundle
dotfiles/vim/plugged/*
dotfiles/vim/tmp/*
dotfiles/vim/undo/*

dotfiles/gradle/caches/
dotfiles/gradle/daemon/
dotfiles/gradle/gradle.properties
dotfiles/gradle/native/
dotfiles/gradle/wrapper/
