[Unit]
Description = mpdscribble
After=mpd.service

[Service]
ExecStart = /usr/bin/mpdscribble -D
Restart = always

[Install]
WantedBy = default.target
